nav{
    background-color: orange;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15pt;
    font-family: 'Montserrat', sans-serif;
}

.banner{
    height: 400px;
background-image: url("img/img-class.jpg");
background-size: cover;
}

.banner h1, h4{
    color: white;
    font-family: 'Dancing Script', cursive;
text-align: center;
}

h1{
    font-size: 50pt;
    margin: 0;
    padding: 40px;
}

.cadastro{
    display: flex;
    justify-content: center;
    background-color: orange;
}
.cadastro div{
display: flex;
flex-direction: column;
width: 300px;
}

input{
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 5px;
}

.botao{
    background-color: brown;
    color: orange;
}

.botao:hover{
    background-color: blueviolet;
    color: orange;
    font-size: 30px;
}

::placeholder{
    color: brown;
    font-size: 10pt;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: orange;
}


